<doctype html="">
    <title>Keyword Recommender</title>
    <h2>Keyword Recommender</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% from "_formhelpers.html" import render_field %}
    <form method="post">
       
        {{ render_field(form.user_text) }}
        <input type="submit" value="Search">
    
    </form>
</doctype>